@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Westgate;
  src: url("./fonts/Westgate-Bold.woff2") format("woff2");
}

*{
    font-family: Westgate;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.gallery-image {
  border-width: 20px;
}

@media screen and (max-width: 700px){
  .gallery-image {
      border-width: 10px;
  }
}